# =============== #
# Unity generated #
# =============== #
Library/
Publish/
Temp/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.meta~HEAD
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_10.unity.meta~HEAD
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_10.unity.meta~origin_master
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_11.unity.meta~HEAD
Assets/Ferr/2DTerrain/Examples/Assets/Materials/backgroundvolcan2.prefab
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_10.unity.meta~HEAD
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_12.unity.meta~origin_master
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_12.unity.meta~HEAD
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_11.unity.meta~HEAD
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_12.unity.meta~origin_master
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_10.unity.meta~HEAD
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_10.unity.meta~origin_master
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_10.unity.meta~HEAD
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_10.unity.meta~HEAD
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_12.unity.meta~origin_master
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_10.unity.meta~HEAD
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_11.unity.meta~origin_master
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_10.unity.meta~HEAD
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_10.unity.meta~origin_master
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_10.unity.meta~HEAD
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_12.unity.meta~origin_master
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_11.unity.meta~origin_master
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_10.unity.meta~HEAD
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_10.unity.meta~origin_master
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_11.unity.meta~origin_master
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_12.unity.meta~origin_master
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_10.unity.meta~HEAD
Assets/Side-Scroller Motorcycle/Scenes/W3_Stage_10.unity.meta~origin_master